{% extends 'base.html' %}
{% block title %}Aptitude{% endblock title %}


{% block body %}

<div id="bdy">
    <h1 style="border-bottom: 1px solid black;">APTITUDE</h1>
    <h4 style="color:dimgrey;">An aptitude is a component of a competence to do a certain kind of work at a certain level. Outstanding aptitude can be considered "talent". Aptitude is inborn potential to perform certain kinds of activities, whether physical or mental, and whether developed or undeveloped. Aptitude is often contrasted with skills and abilities, which are developed through learning.The mass term ability refers to components of competence acquired through a combination of both aptitude and skills.<br>
    <br>According to Gladwell (2008) and Colvin (2008),it is often difficult to set apart the influence of talent from the influence of hard training in the case of outstanding performances. Howe, Davidson, and Sloboda argue that talents are acquired rather than innate.Talented individuals generally show high levels of competence immediately in only a narrow range of activities,often comprising only a single direction or genre.</h4>
    <h2 style="border-bottom: 1px solid black;">Intelligence and aptitude</h2>
    <h4 style="color: dimgrey;">Aptitude and IQ are different but related concepts relating to human mental ability. Unlike the original idea of IQ, aptitude often refers to one of the many different characteristics which can be independent of each other, such as aptitude for military flight, air traffic control, or computer programming.This approach measures a variety of separate skills, similar to the theory of multiple intelligences and Cattell–Horn–Carroll theory and many other modern theories of intelligence. In general, aptitude tests are more likely to be designed and used for career and employment decisions, and intelligence tests are more likely to be used for educational and research purposes. However, there is a great deal of overlap between them, and they often measure the same kinds of abilities. For example, aptitude tests such as the Armed Services Vocational Aptitude Battery measure enough aptitudes that they could also serve as a measure of general intelligence.</h4>
</div>
<style>
    #bdy{
        padding: 40px;
    }
</style>
{% endblock body %}

<