<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body style="padding: 40px;">
<h1>CONTACT</h1>
<h2 style="border-bottom: 1px solid black;">Phone Number</h2>
<h4 style="padding: 40px;">487578<br>
<br>875945<br>
<br>556455</h4>
<h2 style="border-bottom: 1px solid black;">Mobile Number</h2>
<h4 style="padding: 40px;">9875781542<br>
<br>7849875945<br>
<br>9548556455</h4>
</body>
</html>