{% extends 'base.html' %}
{% block title %}Python Automation Testing{% endblock title %}


{% block body %}

<div id="bdy">
    <h1 style="border-bottom: 1px solid black;">AUTOMATION TESTING</h1>
    <h4 style="color:dimgrey;">PyUnit (or Unittest) is the default test framework for Python testing. Apart from PyUnit, the Python language supports a number of frameworks for Selenium Testing. Some of the widely used test frameworks for Python test automation are PyTest, Behave, Robot, Lettuce, Nose2, and Testify.</h4>
    <img src="https://etechprowess.com/images/blog/Scope_of_python_automation.jpg" class="rounded" alt="Cinque Terre" style="padding-left: 13rem;">
    <img src="https://gktcs.in/static/request_for_report/python_for_automation1.png" class="img-thumbnail" alt="Cinque Terre" style="padding-left: 110px;">

</div>
<style>
    #bdy{
        padding: 40px;
    }
</style>
{% endblock body %}


